In [37]:


import scipy.stats as ss
import matplotlib.pyplot as plt
import re
import pandas as pd
from scipy.stats import binom
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [38]:
prok = pd.read_csv('/home/is6/work/cas_thesis/16s_extraction/final_round/thesis_results/annotated_statistics.csv', sep=',')

In [39]:
prok.head()

,Unnamed: 0,id,component,genus_renamed,ann,group,subgroup
0,0,GCF_000006605.1,1,Corynebacterium,Terrabacteria group_Actinobacteria_Corynebacte...,Terrabacteria group,Actinobacteria
1,1,GCF_000006605.1,1,Corynebacterium,Terrabacteria group_Actinobacteria_Corynebacte...,Terrabacteria group,Actinobacteria
2,2,GCF_000006605.1,1,Corynebacterium,Terrabacteria group_Actinobacteria_Corynebacte...,Terrabacteria group,Actinobacteria
3,3,GCF_000006605.1,1,Corynebacterium,Terrabacteria group_Actinobacteria_Corynebacte...,Terrabacteria group,Actinobacteria
4,4,GCF_000006605.1,1,Corynebacterium,Terrabacteria group_Actinobacteria_Corynebacte...,Terrabacteria group,Actinobacteria

In [40]:
prok = prok.drop(['Unnamed: 0'], axis=1)

In [41]:
prok = prok.drop(['ann'], axis=1)

In [42]:
prok = prok.drop(['subgroup'], axis=1)

In [43]:
prok = prok.drop(['id'], axis=1)

In [44]:
prok.head()

   component    genus_renamed                group
0          1  Corynebacterium  Terrabacteria group
1          1  Corynebacterium  Terrabacteria group
2          1  Corynebacterium  Terrabacteria group
3          1  Corynebacterium  Terrabacteria group
4          1  Corynebacterium  Terrabacteria group

In [45]:
prok = prok.drop(['genus_renamed'], axis=1)

In [46]:
count_matrix = pd.DataFrame(pd.crosstab(prok.component,prok.group))

In [47]:
count_matrix

group,Acidobacteria,Aquificae,Caldiserica/Cryosericota group,Calditrichaeota,Chrysiogenetes,Deferribacteres,Dictyoglomi,Elusimicrobia,FCB group,Fusobacteria,Nitrospirae,PVC group,Proteobacteria,Spirochaetes,Synergistetes,Terrabacteria group,Thermodesulfobacteria,Thermotogae
component,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,16,0,80,1,367577,8489,0,274193,0,0
2,12,0,0,0,0,0,0,1,9291,1358,80,1274,92731,4461,11,195952,0,37
3,11,27,0,14,0,5,12,0,1530,1314,10,464,35148,239,8,37406,22,543
4,0,0,0,0,0,3,0,0,2336,0,0,0,222,239,0,195386,0,0
5,0,0,0,0,0,0,0,0,2428,1224,0,2,1233,2408,0,1106014,0,0
6,0,14,4,0,0,2,0,0,1229,836,0,47,32794,96,0,110719,17,35
7,0,0,0,0,1,2,0,0,0,0,0,0,155888,18,0,52,0,0
8,0,0,0,0,0,0,0,0,79,0,0,0,5063,1959,4,26101,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,46105,26,0,100903,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,7199,0,0,309718,0,0

In [48]:
count_matrix.to_csv (r'count_matrix.csv', index = False, header=True)

In [32]:

ct = pd.crosstab(prok.component,prok.group).apply(lambda r: r/r.sum(), axis=1)

ct.plot.bar(stacked=True, cmap=plt.cm.rainbow)
plt.legend(bbox_to_anchor=(1.05, 1.0), loc='upper left')
plt.tight_layout()


plt.savefig('/home/is6/work/cas_thesis/16s_extraction/final_round/thesis_results/plot_fraction.png',bbox_inches="tight")

In [33]:
ct = pd.crosstab(prok.component,prok.group).apply(lambda r: r/r.sum(), axis=1)

ct.plot.bar(stacked=True)
plt.legend(bbox_to_anchor=(1.05, 1.0), loc='upper left')
plt.tight_layout()


plt.savefig('/home/is6/work/cas_thesis/16s_extraction/final_round/thesis_results/plot_fraction_prev.png',bbox_inches="tight")

In [36]:
ct*100

group,Acidobacteria,Aquificae,Caldiserica/Cryosericota group,Calditrichaeota,Chrysiogenetes,Deferribacteres,Dictyoglomi,Elusimicrobia,FCB group,Fusobacteria,Nitrospirae,PVC group,Proteobacteria,Spirochaetes,Synergistetes,Terrabacteria group,Thermodesulfobacteria,Thermotogae
component,,,,,,,,,,,,,,,,,,
1,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.002460,0.000000,0.012301,0.000154,56.519352,1.305285,0.000000,42.160448,0.000000,0.000000
2,0.003932,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000328,3.044153,0.444942,0.026212,0.417420,30.382886,1.461626,0.003604,64.202773,0.000000,0.012123
3,0.014332,0.035178,0.000000,0.01824,0.000000,0.006514,0.015635,0.000000,1.993407,1.711985,0.013029,0.604537,45.793650,0.311388,0.010423,48.735554,0.028663,0.707464
4,0.000000,0.000000,0.000000,0.00000,0.000000,0.001514,0.000000,0.000000,1.178691,0.000000,0.000000,0.000000,0.112016,0.120594,0.000000,98.587186,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.218089,0.109943,0.000000,0.000180,0.110751,0.216292,0.000000,99.344746,0.000000,0.000000
6,0.000000,0.009603,0.002744,0.00000,0.000000,0.001372,0.000000,0.000000,0.842976,0.573416,0.000000,0.032237,22.493535,0.065847,0.000000,75.942604,0.011660,0.024007
7,0.000000,0.000000,0.000000,0.00000,0.000641,0.001282,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,99.953193,0.011541,0.000000,0.033342,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.237909,0.000000,0.000000,0.000000,15.247244,5.899536,0.012046,78.603264,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.356693,0.017683,0.000000,68.625624,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.271573,0.000000,0.000000,97.728427,0.000000,0.000000